<nz-modal
      [(nzVisible)]="openModal"
      nzTitle="Criar novo artigo"
      nzCentered
      (nzOnCancel)="handleCancelMiddle()"
      (nzOnOk)="createArticle()"
    >
      <ng-container *nzModalContent>
        <form [formGroup]="validateForm" class="items">

          <nz-input-group >
            <input formControlName="title" nz-input placeholder="Título" />
          </nz-input-group>
          
          <textarea formControlName="description" nz-input placeholder="Descrição do artigo" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </form>
      </ng-container>
    </nz-modal>